{% extends "index.html" %}


{% block login %}
<div id="rightcol">

    <section class="login" id="login">
        <h1>Login</h1>
        <hr/>

        <div class="content">

          <div class="form">

            <form method="post" action="/auth/login/" name="login">

                          {% csrf_token %}

            <div class="column">
            YOUR NAME<br/><br/>
            <input type="text" name="username" id="username" value="" />
            </div>

            <div class="column-2">
            PASSWORD<br/><br/>
            <input type="password" name="password" id="password" value="" />
            </div>


            {% if login_error %}

            <div class="column-3">
            <br/><br/>
             <label class="error">{{ login_error }}</label><br/><br/>
            </div>
                 {% endif %}
                <div class="column-3">
            <br/><br/>
               <a href=""><input class="button" type="submit" value="Login"></a>

            </div>

            </form>

            

          </div>
        </div>
        <a href="/auth/register/"><h2>Registration</h2></a><br/><br/>

    </section>
 </div>

{% endblock %}