{% extends "index.html" %}


{% block login %}
<div id="rightcol">

    <section class="register" id="register">
        <h1>Registration</h1>
        <hr/>

        <div class="content">

          <div class="form">

           <form action="/auth/register/" method="post" name="register">

                          {% csrf_token %}

               <div class="column-reg1">
            YOUR NAME<br/>
            <input id="id_username" type="text" name="username" maxlength="30" value="" />
            </div>

            <div class="column-reg1">
            PASSWORD<br/>
            <input id="id_password1" type="password" name="password1" value="" />
            </div>

                <div class="column-reg1">
            PASSWORD CONFIRM<br/>
            <input id="id_password2" type="password" name="password2" value="" />
            </div>

            <div class="column-reg1">

                <a href=""><input class="button" type="submit" value="Sign Up!"></a>
            </div>

    </form>

          </div>

             <div class="register-text">

          Обязательное поле. Не более 30 символов. Только буквы, цифры и символы @/./+/-/_<br/><br/>
          Введите пароль<br/><br/><br/>
          Введите тот же пароль, что и выше, для подтверждения<br/><br/><br/>
          Зарегистрироваться!<br/><br/>

          </div>

        </div>

 </section>

  </div>
{% endblock %}