{% extends "index.html" %} 

{% block about %}
<!---start-about----->
<div class="about" id="about">
	<div class="wrap">
         <img src="/blog/images/quote.png" alt=""/>
         <p>"Lorem Ipsum is that it has a more-or-less normal distribution of letters."</p>
     <div class="about-bottom">
	     <div class="about-bottom-img">
	     	<img src="/blog/images/about.png" alt=""/>
	     </div>
	     <div class="about-bottom-text">
	     	<h4><a href="#">Distribution Letters</a></h4>
	     	<p>Professional Designer</p>
	     </div>
	     <div class="clear"></div>
     </div>
	</div>
</div>
{% endblock %}