{% extends "index.html" %}
{% load staticfiles %}
{% load mptt_tags %}
{% block callactions %}
{% load i18n mptt_tags %}


<div id="rightcol">
   <img src="{% static 'art_delo/img/pic_1.png' %}" width= 900px id="cit">
   <img src="{% static 'art_delo/img/pic_2.png' %}" id="zag">
   <p align=center style="margin-top: 25px;">Конечно, <strong>Вы сомневаетесь,</strong> а будет ли выбранное Вами изделие<br/>вполне <strong>соответствовать Вашим</strong> ожиданиям,
</p>
   <p align=center style="padding: 0;font-size:21px;"><strong>и как оно будет смотреться именно в Вашем интерьере?!</strong></p>
<hr>
   <p align=center style="padding: 0; margin-bottom: 25px;"><strong>Кто бы посоветовал,</strong> что действительно <strong>мне подойдёт</strong><br/>именно в <strong>ЭТУ</strong> комнату, в <strong>ЭТО место</strong>... </p>
   <p align=center style="padding: 0; line-height: 1.9;">А будет ли оно <strong>просто крепким</strong> и долговечным?<br/>И как <strong>не переплатить</strong> втридорога?<br/>А как вписаться в <strong>разумный бюджет!?</strong></p>


<hr>
   <img src="{% static 'art_delo/img/pic_3.png' %}" id="zag">

 <!-- call to action-->

   <p align=center style="padding: 0;font-size: 27px; margin-top: 60px; margin-bottom: 20px; text-decoration: underline;"><strong>У НАС ВЫ ПОЛУЧАЕТЕ:</strong></p>


    <li id="list"><p style="margin-left: 150px;" ><strong>Бесплатные советы</strong> по обустройству или декорированию интерьера -<br/></p><p align=center style="padding: 0px; padding-bottom: 10px; font-size: 21px; line-height: 0.6;"><strong>только то, что Вам нужно.</strong></p>
      </li>

   <p id="coment" align=center style="margin-top: 25px;font-size: 20px; color: #660000; font-style: italic;">Наши эксперты всегда отнесутся с пониманием;<br/>проконсультируют и посоветуют!</p>
    <li id="list"><p style="margin-top: 25px; margin-left: 150px;">Дизайн изделия разрабатывается именно для Вас,<br/><strong>по Вашим пожеланиям.</strong> И Вы за это <strong>НЕ доплачиваете!</strong></p>
      </li>

<hr id="l_line">
    <li id="list"><p style="margin-top: 25px; margin-left: 150px;"><strong>Никаких переплат</strong> за другой вид покраски и декорирования -<br/>все виды обработки и декорирования <strong>разрабатываются</strong><br/>и выполняются именно для Вас!</p>
      </li> 


<hr id="l_line">
  <li id="list"><p style="margin-top: 25px; margin-left: 150px;">Изделие действительно <strong>стильное и эффектное</strong>, настоящее.<br/>Только из <strong>натуральных материалов</strong>:<br/>массив  дерева, камня, металл.</p>
      </li> 

   <p id="coment" align=center style="margin-top: 25px;font-size: 20px; color: #660000; font-style: italic;">А ещё - <strong> Вы получаете достаточно </strong> крепкое и долговечное изделие, -<br/>сделанное вручную и с любовью!</p>     
    <li id="list"><p style="margin-top: 25px; margin-left: 150px;">Изделие, которое со временем <strong>будет увеличивать свою стоимость.</strong><br/>Через какое-то  время оно перейдёт в разряд антиквариата!</p>
      </li>

<hr id="l_line">
    <li id="list"><p style="margin-top: 25px; margin-left: 150px;"><strong>Гарантия возврата денег.</strong>&nbsp;&nbsp;&nbsp;&nbsp;Если изделие всё же по каким-то причинам<br/>Вам не подойдёт - в течение месяца <strong>мы без проблем</strong> его<br/>у Вас выкупим - ведь <strong>это - очень востребованные</strong> изделия!.</p>
      </li>


 <!-- button_bottom-->

 <div width= 358px height= 78px align= center style="margin-bottom: 100px; margin-top: 50px;"><a href="/articles/catalog/" onMouseOver="mb01.src = {% static 'art_delo/img/butt_1_on.png' %}" onMouseOut="mb01.src = {% static 'art_delo/img/butt_1.png' %}"><img src="{% static 'art_delo/img/butt_1.png' %}" width=358px height=78px alt="" border=0 name="mb01" hspace=0></a></div>
</div>
{% endblock %}



