
{% extends "index.html" %}
{% load staticfiles %}
{# {% load embed_video_tags %} #}
{% load mptt_tags %}

{% block catalog %}
 <script src="{% static 'art_delo/js/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'art_delo/js/masonry.pkgd.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'art_delo/js/classie.js' %}" type="text/javascript"></script>
	<script src="{% static 'art_delo/js/main.js' %}" type="text/javascript"></script>
 
   <div id="rightcol">
   <div class="demo-2" style="margin-bottom: 50px;">
     <div class="container">
		 <div class="content">
			<div class="grid">

			{% for work in works %}
				<div class="grid__item" data-size="1280x857">
					<a href="{{ work.slug }}" class="img-wrap"><img src="{{ work.slug }}" width="250px" title="{{ work.work_title }}" />
						<div class="description description--grid">
							<div>
							<h3>{{ work.work_title }}</h3>
							<p>{{ work.short_text|safe }} &mdash;<em>{{ work.work_author }}</em></p>
							</div>
							<div class="details">
								<ul>
									<li><a style="color:#ff0000; font-weight: bold; font-size: 19px;">&#8372;:</a><span>&nbsp;{{ work.work_price }}</span></li>

									{# <li><a style="color:#ff0000; font-weight: bold; font-size: 19px;">Cрок:</a><span>&nbsp;21день</span></li> #}
									
									{# <li><i class="icon icon-camera"></i><span>Canon PowerShot S95</span></li> #}
									 
									{# <li><i class="icon icon-focal_length"></i><span>22.5mm</span></li> #}
									
									{# <li><i class="icon icon-aperture"></i><span>&fnof;/5.6</span></li> #}
									
									{# <li><i class="icon icon-exposure_time"></i><span>1/1000</span></li> #}
									 
									{# <li><i class="icon icon-iso"></i><span>80</span></li> #}
									
								</ul>
							</div>
						</div>
					</a>
				</div>

				{% endfor %}

			</div>
			<!-- /grid -->
			<div class="preview">
				<button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
				<div class="description description--preview"></div>
			</div>
			<!-- /preview -->
		</div>
		<!-- /content -->
	</div>
	<!-- /container -->
   
	<script>
		(function() {
			var support = { transitions: Modernizr.csstransitions },
				// transition end event name
				transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
				transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
				onEndTransition = function( el, callback ) {
					var onEndCallbackFn = function( ev ) {
						if( support.transitions ) {
							if( ev.target != this ) return;
							this.removeEventListener( transEndEventName, onEndCallbackFn );
						}
						if( callback && typeof callback === 'function' ) { callback.call(this); }
					};
					if( support.transitions ) {
						el.addEventListener( transEndEventName, onEndCallbackFn );
					}
					else {
						onEndCallbackFn();
					}
				};

			new GridFx(document.querySelector('.grid'), {
				imgPosition : {
					x : -0.5,
					y : 1
				},
				onOpenItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							var delay = Math.floor(Math.random() * 50);
							el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
							el.style.transform = 'scale3d(0.1,0.1,1)';
							el.style.opacity = 0;
						}
					});
				},
				onCloseItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
							el.style.transition = 'opacity .4s, transform .4s';
							el.style.WebkitTransform = 'scale3d(1,1,1)';
							el.style.transform = 'scale3d(1,1,1)';
							el.style.opacity = 1;

							onEndTransition(el, function() {
								el.style.transition = 'none';
								el.style.WebkitTransform = 'none';
							});
						}
					});
				}
			});
		})();
	</script>
	</div>
</div>
{% endblock %}
