{% extends "index.html" %}


{% block contact %}
    <!-- Contact-->

    <section class="contact" id="contact">
        <h1>Contact</h1>
        <hr/>

        <div class="content">

          <div class="form">

            <form method="post" action="mail.php" name="kontakt">

            <div class="column">
            YOUR NAME<br/><br/>
            <input name="name" id="name" value="" />
            </div>
            
            <div class="column-2">
            YOUR E-MAIL<br/><br/>
            <input name="email" id="email" value="" />
            </div>


            <div class="column-3">
            MESSAGE<br/><br/>
            <textarea id="message" name="message" ></textarea>
            </div>

              <div class="button">
                <span><input class="submit" id="submit" name="submit" type="submit" value="SEND"></span>
              </div>

            </form>

          </div>


          <div class="contact-text">

          To contact us please use the contact form visible<br/><br/>

          When sending files, please use<br/>
          the following e-mail<br/><br/>

          {# <strong>Konstantin Kokorin</strong><br/><br/> #}

          e-mail: <strong>virer2007@mail.ru</strong><br/>
           skype: <strong>virer2011</strong><br/>
           youtube: <strong>Konstantin Kokorin</strong>

          </div>


        </div>

    </section>

{% endblock %}