{% extends "index.html" %}
{% load staticfiles %}

{% block tutorials %}


<section class="tutorials" id="tutorials">
  
  <div class="content">
  
    <h1>TUTORIALS</h1>
    <hr/>
    <p class="title">Create IOS apps with us</p>



      <div class="column-one">

				<a href="/articles/videos/page/"><div class="circle-one"></div></a>
          

   
				<a href="/articles/videos/page/"><h2>VIDEO</h2></a>
          

          <p>Create IOS apps with us</p>
    
      </div>


      {# <div class="column-one"> #}

            {# {% if art_page_number %} #}
        {# <a href="/articles/videos/page/{{ art_page_number }}/"><div class="circle-one"></div></a> #}
            {# {% else %} #}
        {# <a href="/articles/videos/page/{{ 1 }}/"><div class="circle-one"></div></a> #}
             {# {% endif %} #}

    {# {% if art_page_number %} #}
        {# <a href="/articles/videos/page/{{ art_page_number }}/"><h2>VIDEO</h2></a> #}
            {# {% else %} #}
        {# <a href="/articles/videos/page/{{ 1 }}/"><h2>VIDEO</h2></a> #}
             {# {% endif %} #}

          {# <p>Create IOS apps with us</p> #}
    
      {# </div> #}


      <div class="column-two">

          {# {% if art_page_number %} #}
				<a href="/articles/writtens/page/"><div class="circle-two"></div></a>
            {# {% else %} #}
				{# <a href="/articles/writtens/page/{{ 1 }}/"><div class="circle-two"></div></a> #}
             {# {% endif %} #}

      {# {% if art_page_number %} #}
				<a href="/articles/writtens/page/"><h2>ARTICLES</h2></a>
            {# {% else %} #}
				{# <a href="/articles/writtens/page/{{ 1 }}/"><h2>ARTICLES</h2></a> #}
             {# {% endif %} #}

          <p>Create IOS apps with us</p>
    
      </div>
  



      <div class="column-three">

        {# {% if art_page_number %} #}
        <a href="/articles/writtens/page/"><div class="circle-three"></div></a>
            {# {% else %} #}
        {# <a href="/articles/writtens/page/{{ 1 }}/"><div class="circle-three"></div></a> #}
             {# {% endif %} #}

      {# {% if art_page_number %} #}
        <a href="/articles/writtens/page/"><h2>FAQ</h2></a>
            {# {% else %} #}
        {# <a href="/articles/writtens/page/{{ 1 }}/"><h2>FAQ</h2></a> #}
             {# {% endif %} #}

          <p>Create IOS apps with us</p>
    
    </div>  
    
  </div>
  
  </section>

{% endblock %}